.inicio-container {
  background: linear-gradient(70deg, #002271,#031338, #cd0000, #ffffff);
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.nav-btn {
  background-color: #024b82;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Header */
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 40px 0;
}

.header-text{
  width: 700px;
}

.header-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.header-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.icon-circle {
  font-size: 3rem;
}

/* Search bar */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.search-bar input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
  background-color: #0a2e63;
}

.search-icon {
  margin-left: -30px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: linear-gradient(120deg, #2c0d22, #342a59);
  padding: 20px;
  border-radius: 15px;
  width: 500px;
  text-align: left;
  display: flex;
  justify-content: center;
}

.card h3 {
  margin-bottom: 15px;
}

.enlace {
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
}

.card-icon {
  font-size: 2rem;
  margin-top: 15px;
}

.imagen5{
  display: flex;
  justify-content: center;
}

 /* Segunda fila */
.second-row {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.third-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Colores personalizados */
.red-card {
  background: linear-gradient(120deg, #6a0f1d, #23094b);
}

.pink-card {
  background: linear-gradient(120deg, #550f0d, #0b0843);
}

.blue-card {
  background: linear-gradient(120deg, #0a2e63, #640f27);
}
 /* Segunda sección en grid */
.second-section {
  margin-top: 40px;
   display: flex;
  justify-content: center;
  gap: 20px;
}

/* Columna izquierda */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Adicionales (columna derecha, más alto) */
.tall-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* 🔑 fuerza a ocupar todo el alto de la fila */
}

